In [1]:
# Árvore de asteriscos (*)

altura=20
escapamento=0
asterisco =1
simbolo= '*'

for i in range(altura):
    escapamento = altura -i -1

    for j in range(escapamento):
        print(' ', end='')
    for k in range(asterisco):
        print(simbolo, end='')
    print()
    asterisco += 2

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [ ]:
nome = input(' Digite um nome: ')
nome1 = input('Digite um nome: ')
nome2 = input('Digite um nome; ')
nome3 = input('Digite um nome: ')
nome4 = input('Digite um nome: ')
nome5 = input('Digite um nome):')

Laço FOR

In [7]:
nome = ['felipe', 'lucas', 'pedro','jose']
for n in nome:
    print(n)

felipe
lucas
pedro
jose

for i in range(0,21):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

altura = 20
espacamento = 0
asterisco = 1
simbolo = '*'

for i in range(altura):
    espacamento = altura - i - 1
      
    for j in range(espacamento):
        print(' ', end='')

    for k in range(asterisco):
        print(símbolo, end='')

    print()
    asterisco +=2

In [ ]:
{
	"name": "NameError",
	"message": "name 'símbolo' is not defined",
	"stack": "---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[17], line 13
     10     print(' ', end='')
     12 for k in range(asterisco):
---> 13     print(símbolo, end='')
     15 print()
     16 asterisco +=2    

NameError: name 'símbolo' is not defined"
}

In [ ]:
lista = ['gomes', 'pedro', 'paulo', 'jose', 'beltrano']

print(f'O primeiro nome da lista é {lista{0}}')
print(f'O segundo nome da lista é {lista{1}}')
print(f'O terceiro nome da lista é {lista{2}}')

for i in range(len(lista)):
    print(f'{i + 1} colocado: {lista{i}}')

In [ ]:
{
	"name": "SyntaxError",
	"message": "invalid syntax. Perhaps you forgot a comma? (91413553.py, line 3)",
	"stack": "  Cell In[20], line 3
    print(f'O primeiro nome da lista é {lista{0}}')
                                        ^
SyntaxError: invalid syntax. Perhaps you forgot a comma?
"
}

x = int(input('Digite um número inteiro: '))

for num in range(1, 11):
    print(f'(x) x (num) = (x * num)')

(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)
(x) x (num) = (x * num)